<div class="modal-box bg-secondary flex flex-col">
  <h3 class="px-auto text-center pb-6">Giocare ancora?</h3>

  <!-- player self -->
  <div class="block mx-auto">
    <span>self name:</span>
    <span class="text-lime-600 p-2">self decision state</span>
  </div>

  <!-- player opponent -->
  <div class="block mx-auto pb-12">
    <span>opponent name:</span>
    <span class="text-lime-600 p-2">opponent decision state</span>
  </div>
  <div class="flex flex-row place-content-evenly pt-12">
    <button class="btn btn-error w-24 p-0">No</button>
    <button class="btn btn-success w-24 p-0">Sì</button>
  </div>
</div>