<div class="modal-box">
    <h3 class="px-auto text-center">Benvenuto</h3>
    <div class="grid grid-cols-[minmax(max-content, 25%)_auto]">
        <label for="playerNick">Nickname</label>
        <input id="playerNick" name="playerNick" placeholder="..." class="input w-full" type="text" maxlength="20" >
    </div>
    <div class="grid grid-cols-[minmax(max-content, 25%)_auto]">
        <label for="gameCode">Nickname</label>
        <div>
            <input id="gameCode" name="gameCode" placeholder="..." class="input w-full" type="text" maxlength="20" >
            <button class="btn btn-primary" >Unisciti alla partita</button>
        </div>
    </div>
    <div>
        <span>Oppure</span>
        <button class="btn btn-primary">Hosta</button>
    </div>
</div>